<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/style.css">
			<link rel="icon" href="/favicon.svg">
			<link rel="icon" type="image/png" href="/favicon.png">
			<title>{{ title }} - {{ site_short }}</title>
			<style>
				#badge_selfhosted.badge {
					padding: 2px 4px;
					width: 80px;
					height: 27px;
				}
			</style>
		{% endblock %}
	</head>
	<body>
		{% block side_a %}
			<aside id="side-a">
				<div class="label">Side<br>A</div>
				<div class="badges">
					<a href="https://kernel.org/">
						<img class="badge" src="/badges/linux.png" alt="Linux powered">
					</a>
					<a href="https://voidlinux.org/">
						<img class="badge" src="/badges/void.webp" alt="Powered by Void">
					</a>
					<a href="https://neovim.io/">
						<img class="badge" src="/badges/neovim.png" alt="Made with Neovim">
					</a>
					<a href="https://www.mozilla.org/cs/firefox/">
						<img class="badge" src="/badges/firefox.png" alt="Get Firefox">
					</a>
					<a href="https://www.gnu.org/">
						<img class="badge" src="/badges/gnu.png" alt="GNU Project">
					</a>
					<img class="badge" src="/badges/kill-la-kill.png" alt="Don't lose your way">
					<img class="badge" src="/badges/ai.png" alt="Say NO to AI!">
					<a href="https://www.moxfield.com/users/jovanlanik">
						<img class="badge" src="/badges/mtg.png" alt="Magic the gathering">
					</a>
					<img class="badge" src="/badges/ray-out.png" alt="ray=out">
					<a href="https://daringfireball.net/projects/markdown/">
						<img class="badge" src="/badges/md.svg" alt="Made with Markdown">
					</a>
				</div>
			</aside>
		{% endblock %}
		<div id="middle">
			<header>
				<div id="top">
					<img class="deco" alt="" src="/favicon.svg">
					<h1>{{ site }}</h1>
				</div>
				<nav>
					{% for item in nav|sort(attribute='priority') %}
						<a href="{{ item.href }}">{{ item.title }}</a>
					{% endfor %}
				</nav>
			</header>
			<main>
				<hr>
				{% block main %}
					{{ content }}
				{% endblock %}
			</main>
			<footer>
				<hr>
				{% block badges %}
					{% if under_construction == True %}
						<img class="deco" alt="" src="/construction.svg">
					{% endif %}
				{% endblock %}
				{% block footer %}
					<p>{{ copyright }}</p>
				{% endblock %}
			</footer>
		</div>
		{% block side_b %}
			<aside id="side-b">
				<div class="label">Side<br>B</div>
				<div class="badges">
					<a href="/lain.html">
						<img class="badge" src="/badges/lain.webp" alt="Let's all love Lain">
					</a>
					<a href="https://html5.validator.nu/?doc=https%3A%2F%2Flanikjo.neocities.org%2F">
						<img class="badge" src="/badges/html5-validator-badge-blue.svg" alt="HTML5 Valid">
					</a>
					<a href="https://jigsaw.w3.org/css-validator/check/referer">
						<img class="badge" src="https://www.w3.org/Icons/valid-css-blue-v.svg" alt="Valid CSS!">
					</a>
					<a href="{{ host.badge.href }}">
						<img id="badge_{{ host.name }}" class="badge" src="/badges/{{ host.badge.src }}" alt="{{ host.badge.alt }}">
					</a>
					<a href="https://lineageos.org/">
						<img class="badge" src="/badges/lineage.svg" alt="LineageOS Android Distribution">
					</a>
					<a href="steam://launch/70">
						<img class="badge" src="/badges/half-life.png" alt="Play Half-Life">
					</a>
					<img class="badge" src="/badges/weed.png" alt="World Wide Weed">
					<img class="badge" src="/badges/flcl.png" alt="FLCL">
					<a href="https://www.python.org/">
						<img class="badge" src="/badges/python.png" alt="Python generated">
					</a>
					<img class="badge" src="/badges/nerv.png" alt="Nerv">
				</div>
			</aside>
		{% endblock %}
	</body>
</html>
