<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/style.css">
			<link rel="icon" href="/favicon.svg">
			<link rel="icon" type="image/png" href="/favicon.png">
			<title>{{ title }} - {{ site_short }}</title>
		{% endblock %}
	</head>
	<body>
		{% block side_a %}
			<aside id="side-a">Side A</aside>
		{% endblock %}
		<div id="middle">
			<header>
				<div id="top">
					<img alt="" src="/favicon.svg">
					<h1>{{ site }}</h1>
				</div>
				<nav>
					{% for item in nav|sort(attribute='priority') %}
						<a href="{{ item.href }}">{{ item.title }}</a>
					{% endfor %}
				</nav>
			</header>
			<main>
				<hr>
				{% block main %}
					{{ content }}
				{% endblock %}
			</main>
			<footer>
				<hr>
				{% block badges %}
					{% if under_construction == "True" %}
						<img alt="" src="/construction.svg">
					{% endif %}
				{% endblock %}
				{% block footer %}
					<p>{{ copyright }}</p>
				{% endblock %}
			</footer>
		</div>
		{% block side_b %}
			<aside id="side-b">Side B</aside>
		{% endblock %}
	</body>
</html>
