{% extends "default.j2" %}
{% block head %}
	{{ super() }}
	<style>
		#unit02 {
			width: 100%;
			height: auto;
			max-width: 500px;
		}
		.valid {
			width:88px;
			height:31px;
		}
	</style>
{% endblock %}
{% block badges %}
	{{ super() }}
	<a href="https://neocities.org/"><img alt="hosted by neocities" src="./neocities.png"></a>
	<a href="https://html5.validator.nu/?doc=https%3A%2F%2Flanikjo.neocities.org%2F">
		<img class="valid" src="./html5-validator-badge-blue.svg" alt="HTML5 Valid">
	</a>
	<a href="https://jigsaw.w3.org/css-validator/check/referer">
		<img class="valid" src="https://www.w3.org/Icons/valid-css-blue-v.svg" alt="Valid CSS!">
	</a>
{% endblock %}
