{% extends "default.j2" %}
{% block head %}
	{{ super() }}
	<style>
		#e404 {
			display: block;
			margin: auto;
			width: 100%;
			height: auto;
			max-width: 544px;
		}
		@media (prefers-color-scheme: dark) {
			#e404 {
				filter: invert(1);
			}
		}
	</style>
{% endblock %}
