{% extends "subpage.j2" %}
{% block head %}
	{{ super() }}
	<style>
		.screen {
			display: block;
			margin: auto;
			width: 100%;
			height: auto;
			border: 2px solid #e5e5e5;
			box-sizing: border-box;
		}
		.nowrap {
			white-space: nowrap;
		}
		#float {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
		}
		#float > div {
			flex-basis: 448px;
			flex-grow: 1;
		}
		#float p:first-child {
			margin-top: 0;
		}
		#float > #repology {
			display: contents;
		}
		#float > #repology > img {
			display: block;
		}
	</style>
{% endblock %}
