body {
	margin: 0;
	min-height: 100vh;
	font-family: "Sans";
	display: flex;
	justify-content: center;
	container-type: inline-size;
	background-image: url("/background.png");
}

#side-a, #side-b {
	user-select: none;
	position: sticky;
	top: 0;
	padding-top: 40px;
	box-sizing: border-box;
	font-size: 9.5cqw;
	align-self: start;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	height: 100%;
	text-orientation: mixed;
	background: rgba(0.0, 0.0, 0.0, 0.25);
	color: #f5f5f5;
	font-family: "Monospace";
}

#side-a {
	text-align: end;
	writing-mode: sideways-lr;
}

#side-b {
	writing-mode: vertical-rl;
}

@media only screen and (max-width: 1000px) {
	#side-a, #side-b {
		display: none;
	}
}

#middle {
	flex-grow: 1;
	background-color: #f5f5f5;
	color: #0c0c0c;
	max-width: 720px;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
}

#middle > main {
	flex-grow: 1;
}

a {
	text-decoration: none;
}

pre {
	overflow-x: auto;
}

hr {
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	box-sizing: border-box;
}

pre {
	background: #0c0c0c;
	color: #f5f5f5;
	padding: 8px;
	font-size: 14px;
	border: 2px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

#top {
	display: flex;
}

#top > img {
	margin: 8px;
}

.deco {
	user-drag: none;
	user-select: none;
	pointer-events: none;
}
