@import url("/fonts/jovus.css");
@import url("/fonts/cousine.css");

:root {
	font-family: "Jovus Sans", sans-serif;
	/*
	font-optical-sizing: auto;
	font-synthesis: none;
	*/
}

body {
	--color-light: #f5f5f5;
	--color-light-alt: #e2e2e2;
	--color-dark: #0c0c0c;
	--color-dark-alt: black;

	--color-bg: var(--color-light);
	--color-bg-alt: var(--color-light-alt);
	--color-fg: var(--color-dark);
	--color-fg-alt: var(--color-dark-alt);

	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #731719;
	background-image:
		url("/background.png");
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	z-index: -1;
}

@media (prefers-color-scheme: dark) {
	body {
		--color-bg: var(--color-dark);
		--color-bg-alt: var(--color-dark-alt);
		--color-fg: var(--color-light-alt);
		--color-fg-alt: var(--color-light);
	}

	body::before {
		background-color: rgba(0, 0, 0, 0.33);
	}
}

#side-a, #side-b {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	height: 100vh;
	background: rgba(0, 0, 0, 0.25);
	color: var(--color-light-alt);
	padding: 8px;
	padding-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	min-width: 104px;
	max-width: 208px;
	flex-grow: 1;
	flex-shrink: 2;
	container-type: size;
}

#side-a .badges, #side-b .badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4px;
}

a:has(.badge) {
	display: contents;
}

.badge {
	width:88px;
	height:31px;
}

.badge:not([src$=".svg"]) {
	image-rendering: pixelated;
}

#side-a .label, #side-b .label {
	font-size: 50cqw;
	user-select: none;
	font-family: "Cousine", monospace;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	text-align: end;
	text-orientation: mixed;
	writing-mode: vertical-rl; 
  	transform: rotate(180deg);
}

@supports (writing-mode: sideways-lr) {
	#side-a .label, #side-b .label {
		writing-mode: sideways-lr;
		transform: none;
	}
}

#middle {
	padding: 0 16px;
	max-width: 720px;
	box-sizing: border-box;
	flex-basis: 720px;
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	color: var(--color-fg);
}

@media only screen and (max-width: 928px) {
	body {
		display: block;
	}
	#side-a, #side-b {
		display: none;
	}
	#middle {
		min-height: 100vh;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 720px) {
	body {
		display: contents;
	}
	#middle {
		margin: 0;
	}
}

#middle > main {
	flex-grow: 1;
}

h1, h2 {
	font-family: "Jovus Display", sans-serif;
	font-weight: 800;
}

a {
	text-decoration: none;
}

hr {
	width: 100%;
	border: 2px solid var(--color-bg-alt);
	border-radius: 4px;
	box-sizing: border-box;
}

pre {
	overflow-x: scroll;
}

pre:has(code) {
	background: var(--color-dark);
	padding: 8px;
	border: 2px solid var(--color-dark-alt);
	border-radius: 4px;
	box-sizing: border-box;
}

pre > code {
	color: var(--color-light-alt);
	font-size: 14px;
	font-family: "Cousine", monospace;
}

#top {
	display: flex;
}

#top > img {
	margin: 8px;
}

.nowrap {
	white-space: nowrap;
}

.deco {
	user-drag: none;
	user-select: none;
	pointer-events: none;
}
